#
# CStrike-Regnick
# http://www.gentle.ro/proiecte/cstrike-regnick/
# rev 003

# development environment specific data
.dev/*
.build/*
www/app/config/development
www/app/config/production
www/app/.htaccess

# documentation specific
Publish/*
Release/*

# do not track cache
www/app/cache/*
!www/app/cache/index.html
!www/app/cache/.htaccess

# do not track logs
www/app/logs/*
!www/app/logs/index.html
!www/app/logs/.htaccess 

# do not track modules
www/app/modules/cli
www/app/modules/cron
www/app/modules/user-reminder
www/app/modules/rescue

# other files and directories
.DS_Store
*.back
*.gz
*.zip
*.tar
*.rar
*.exe

# ignore this file
!.gitignore
!.gitmodules
