/*!
 * CStrike-Regnick 
 *  Default theme v1.0.3
 *
 * Copyright 2012 Gentle Software Solutions
 * www.gentle.ro
 */ 

/*-----------------------------------------------------------------------------------*/
/*	0.	DOCUMENT LAYOUT
/*-----------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 { color: #54585E; text-shadow: 0px 2px 3px rgba(69,54,37,0.2); }
.box { border: 0; background-color: #fff; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; }
.box-3d { -moz-box-shadow: 0px 0px 10px #d3d3d3; -webkit-box-shadow: 0px 2px 10px #d3d3d3; box-shadow: 0px 0px 10px #d3d3d3; }
.hspace { clear:both; margin-bottom: 24px; }
.container-inner { padding: 20px 10px 20px 10px;  }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.pagination { margin: 0 auto; max-width: 400px; }
.h_center { margin: 0 auto; }
td.center { text-align: center; }
.text-center { text-align: center; }
.nav { margin-bottom: 0; }
.debug-bg { background: #cacaca; }

/* buttons */
.btn-head { background-color: hsl(216, 9%, 40%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#747d8a", endColorstr="#5c646f"); background-image: -khtml-gradient(linear, left top, left bottom, from(#747d8a), to(#5c646f)); background-image: -moz-linear-gradient(top, #747d8a, #5c646f); background-image: -ms-linear-gradient(top, #747d8a, #5c646f); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #747d8a), color-stop(100%, #5c646f)); background-image: -webkit-linear-gradient(top, #747d8a, #5c646f); background-image: -o-linear-gradient(top, #747d8a, #5c646f); background-image: linear-gradient(#747d8a, #5c646f); border-color: #5c646f #5c646f hsl(216, 9%, 37.5%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16); -webkit-font-smoothing: antialiased; }

/* icons */
.icon-gravatar { background-position: top center; }

/*-----------------------------------------------------------------------------------*/
/*	1.	HEADER
/*-----------------------------------------------------------------------------------*/
#header {
	background: #575b61;
	color: #fff;
	height: 100px;
	margin: 0 0 30px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .6);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .6);
}
#header-inner {	padding: 37px 20px; }
#left-area, #right-area { height: 36px; }
#logo { float: left; line-height: 22px; }
#logo a { display: block; color: #fff; text-decoration: none; }

/*-----------------------------------------------------------------------------------*/
/*	2.	FOOTER
/*-----------------------------------------------------------------------------------*/
#footer { clear:both; position: fixed; bottom: 0; width: 100%; background: #222; height: 65px; color: #fff; border-top: 2px solid #999; }
#footer p { text-align: left; font-size: 11px; margin-top: 25px; }
#footer p.right { text-align: right; }

/*-----------------------------------------------------------------------------------*/
/*	3.	SIDEBAR
/*-----------------------------------------------------------------------------------*/
#sidebar { margin-bottom: 65px; }
.sidebar-title {
    font-size: 14px;
    font-weight: bold;
    padding: 9px 0 9px 12px;
    color: #fff;
    background: #4B4F55;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.sidemenu { margin-bottom: 18px; }

/*-----------------------------------------------------------------------------------*/
/*	4.	MAIN CONTENT
/*-----------------------------------------------------------------------------------*/
#content-wrapper { margin-bottom: 65px; }
#content { padding: 12px 12px 0 12px; }
#content .header { border-bottom: 1px solid #F2F2F2; margin: 0 0 20px; }
.content-data { margin-bottom: 14px; }
.subheader { color: #999; }

#acp-widget a { color: #555; text-decoration: none; }
#acp-widget a:hover { color: #EC6C16; }
#acp-widget td { font-size: 12px; color: #555; }
#acp-widget td.good { color: #23A406; }
#acp-widget td.bad { color: #C50D0D; }
#acp-widget td.strong { font-weight: bold; }

#acp-widget h3 { font-size: 14px; line-height: 24px; color: #EC6C16; text-transform: uppercase; text-shadow: 0px 2px 3px #EDA97B; }
